<style type="text/css">
    <!--
    .fileContainer, .upload_success, .upload_error {
        margin: 2px;
        padding: 3px;
    }

    .upload_success {
        background: #7fff91;
    }

    .upload_error {
        background: #ff9c9c;
    }

    #
    <
    {
        $ form_id
    }
    >
    ,
    #
    <
    {
        $ form_id
    }
    >
    _queue_current,

    #
    <
    {
        $ form_id
    }
    >
    _queue {
        display: none;
    }

    #
    <
    {
        $ form_id
    }
    >
    #
    <
    {
        $ form_id
    }
    >
    _queue {
        font-size: 0.8em;
        color: #333;
        line-height: 1.5em;
        padding: 5px;
        clear: both;
    }

    #
    <
    {
        $ form_id
    }
    >
    .< {
        $ form_id
    }

    >
    _button {
        background: #09C;
        padding: 2px;
        color: #FFF;
        font-weight: bold;
        border: 0px;
        height: 30px;
        width: 120px;
    }

    #
    <
    {
        $ form_id
    }
    >
    #
    <
    {
        $ form_id
    }
    >
    _closeform {
        float: right;
    }

    #
    <
    {
        $ form_id
    }
    >
    #
    <
    {
        $ form_id
    }
    >
    _queue legend {
        font-weight: bold;
        color: #666;
    }

    #
    <
    {
        $ form_id
    }
    >
    #
    <
    {
        $ form_id
    }
    >
    _queue
 
#

    <
    {
        $ form_id
    }
    >
    _queue_list {
        padding: 5px;
    }

    #
    <
    {
        $ form_id
    }
    >
    {
        border: 2px solid #CCC
    ;

        padding: 8px
    ;

        background: #FFF
    ;

        font-family: Tahoma,
        Geneva,
        sans-serif
    ;

        width: 500px
    ;

    }
    #
    <
    {
        $ form_id
    }
    >
    #
    <
    {
        $ form_id
    }
    >
    _queue
 
#

    <
    {
        $ form_id
    }
    >
    _queue_current
    div
 
#

    <
    {
        $ form_id
    }
    >
    _queue_current_progressbar {
        height: 2em;
        width: 0%;
        background: #09C;
        margin: 5px 0px;
    }

    .swfupload {
        position: absolute;
        z-index: 1;
    }

    -->
</style>
<div id="<{$form_id}>">
    <span id="<{$form_id}>_placeholder"></span> <input type="button"
                                                       id="<{$form_id}>_closeform" class="<{$form_id}>_button"
                                                       value="zamknij forme"/> <input type="button"
                                                                                      id="<{$form_id}>_selectfiles"
                                                                                      class="<{$form_id}>_button"
                                                                                      value="wybierz pliki"/> <input
        type="button"
        id="<{$form_id}>_cancelupload" class="<{$form_id}>_button"
        value="wstrzymaj upload"/>


    <fieldset id="<{$form_id}>_queue">
        <legend>Kolejka plików</legend>
        <div id="<{$form_id}>_queue_current">
            Plik: <span id="<{$form_id}>_queue_current_filename">brak
				pliku</span><br/> wysłano: <span id="<{$form_id}>_queue_current_progress">0</span>
            <div>
                <div id="<{$form_id}>_queue_current_progressbar">&nbsp;</div>
            </div>
        </div>
        <div id="<{$form_id}>_queue_list"></div>
    </fieldset>
</div>
